/* This file is for your main application css. */
@import "bootstrap";
/* Suggested Datetime picker on piazza*/
@import 'flatpickr';

/* Alerts and form errors */
.invalid-feedback {
  display: block;
}

.blue {
  padding-top: 1%;
  background-color: lightblue;
}

.text {
  padding-top: 0px;
  width: 300px;
}
