[Unit]
Description=HW07

[Service]
Type=simple
User=hw07
Group=hw07
Restart=on-failure
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw07/hw07/hw07
ExecStart=/bin/bash /home/hw07/hw07/hw07/start.sh

[Install]
WantedBy=multi-user.target