<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hw07 · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <%# From Starter Code%>
    <div role="main" class="container-fluid">
      <div class="row justify-content-md-between blue">
        <div class="col offset-3">
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <p><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %> </p>
          <% end %>
          <p><%= link "Home", to: Routes.page_path(@conn, :index) %></p>
        </div>
        <div class="col offset-1">
          <%= if @conn.assigns[:user] do%>
            User: <%= @user.name %> | 
            <%= link("Logout", 
              to: Routes.session_path(@conn, :delete),
              method: :delete) 
            %>
          <%= else %>
            User: unknown
          <% end %>
        </div>  
      </div>
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      
      <%= @inner_content %>
    </div>
  </body>
</html>
